h1, h2, h3, h4, h5, h6, h7 {
    font-weight: 700;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 18px;
}
h7 {
    font-size: 18px;
}

.code_block {
    font: 14px/1.4 "Cascadia Mono", monospace;
    background: #272822ff;
    color: #f8f8f2ff;
    display: table;
    white-space: break-spaces;
    padding: 5px;
}

.code_block > code {
    display: table;
    counter-increment: code_line_number;
    min-height: 1.4em;
}

.code_block > code::before {
    content: counter(code_line_number) " ";
    display: inline-block;
    position: absolute;
    transform: TranslateX(-100%);
    padding-right: 5px;
    color: #eeeeee;
}

.code_block > code.highlighted {
    background: #307351ff;
}

.code_block > code.highlighted::before {
    background: #307351ff;
}
